.formField {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }
  
  .fieldLabel {
    color: #000;
    font: 400 16px Poppins, sans-serif;
  }
  
  .fieldInput {
    border-radius: 8px;
    border: 1px solid #bdbdbd;
    background-color: #fff;
    padding: 12px;
    font: 400 14px/22px Helvetica Neue, -apple-system, Roboto, Helvetica, sans-serif;
    color: #c4c4c4;
  }
  
  .fieldInput::placeholder {
    color: #c4c4c4;
  }