.organizationCTA {
    background-color: #fff;
    border-radius: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 34px 40px;
    margin: 80px auto;
    max-width: 1202px;
  }
  
  .content {
    color: #00c874;
  }
  
  .title {
    font: 600 40px/1 Poppins, sans-serif;
  }
  
  .subtitle {
    font: 400 16px/2 Poppins, sans-serif;
    margin-top: 6px;
  }
  
  .registerButton {
    background-color: #fff;
    border: 1px solid #00c874;
    color: #00c874;
    border-radius: 30px;
    padding: 19px 30px;
    font: 500 16px Poppins, sans-serif;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .registerButton:hover {
    background-color: #00c874;
    color: #fff;
  }
  
  @media (max-width: 991px) {
    .organizationCTA {
      flex-direction: column;
      text-align: center;
      padding: 30px 20px;
    }
  
    .registerButton {
      margin-top: 20px;
    }
  }