.pending-organizations-admin {
    display: flex;
    overflow: hidden;
    flex-direction: column;
  }
  
  .window-frame {
    display: flex;
    overflow: hidden;
    flex-direction: column;
    width: 100%;
    border-radius: 0.75rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.8);
  }
  
  .address-bar {
    display: flex;
    overflow: hidden;
    flex-wrap: wrap;
    gap: 1.25rem;
    justify-content: space-between;
    padding: 0.625rem 1.5rem;
    width: 100%;
    border-radius: 0.75rem;
    background-color: #f5f5f5;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.15);
  }
  
  .logo-container {
    display: flex;
    gap: 1.5rem;
    align-items: center;
  }
  
  .logo {
    object-fit: contain;
    width: 53px;
    aspect-ratio: 4.42;
  }
  
  .navigation-icons {
    display: flex;
    gap: 0.25rem;
  }
  
  .icon-group {
    display: flex;
    gap: 0.25rem;
    align-items: center;
    letter-spacing: -0.05em;
    white-space: nowrap;
    color: #4a4a4a;
  }
  
  .icon {
    font-size: 1.125rem;
  }
  
  .icon.small {
    font-size: 0.75rem;
  }
  
  .divider {
    width: 1px;
    height: 19px;
    background-color: #4a4a4a;
  }
  
  .tab-icons {
    display: flex;
    gap: 0.5rem;
    justify-content: space-between;
    align-items: center;
    height: 18px;
  }
  
  .tab-icon {
    object-fit: contain;
    width: 27px;
    aspect-ratio: 0.96;
  }
  
  .search-and-nav {
    display: flex;
    flex-wrap: wrap;
    gap: 2.5rem;
  }
  
  .search-field {
    display: flex;
    gap: 2.5rem;
    padding: 0.625rem 0.625rem 0.625rem 5rem;
    font-size: 0.75rem;
    color: black;
    white-space: nowrap;
    border-radius: 0.5rem;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.17);
  }
  
  .search-address {
    display: flex;
    gap: 0.25rem;
    justify-content: center;
    align-items: center;
  }
  
  .lock-icon {
    object-fit: contain;
    width: 7px;
    aspect-ratio: 0.7;
  }
  
  .refresh-icon {
    object-fit: contain;
    width: 0.75rem;
    aspect-ratio: 0.86;
  }
  
  .navigation {
    display: flex;
    align-items: flex-start;
  }
  
  .nav-icons {
    display: flex;
    gap: 2rem;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
  }
  
  .nav-icon {
    object-fit: contain;
    width: 26px;
    aspect-ratio: 1;
  }
  
  .nav-symbols {
    display: flex;
    gap: 1.5rem;
    align-items: flex-start;
    font-size: 1.125rem;
    letter-spacing: -0.05em;
    white-space: nowrap;
    color: #4a4a4a;
  }
  
  .dashboard-image {
    object-fit: contain;
    width: 100%;
    aspect-ratio: 1.63;
  }
  
  @media (max-width: 768px) {
    .address-bar {
      padding: 0.625rem 1.25rem;
    }
  
    .search-field {
      padding-left: 1.25rem;
    }
  
    .window-frame,
    .dashboard-image {
      max-width: 100%;
    }
  }