.container {
    border-radius: 62px;
    background-color: #fff;
    box-shadow: 0 8px 104px rgba(0, 0, 0, 0.08);
    overflow-x: auto;
    display: flex;
    max-width: 854px;
    flex-direction: column;
    align-items: center;
    font-weight: 400;
    text-align: center;
    padding: 40px 80px 93px;
  }
  
  @media (max-width: 991px) {
    .container {
      padding: 0 20px;
    }
  }
  
  .closeIcon {
    aspect-ratio: 0.92;
    object-fit: contain;
    object-position: center;
    width: 11px;
    align-self: flex-end;
  }
  
  .title {
    color: var(--text-color, #252b42);
    letter-spacing: 0.11px;
    margin-top: 86px;
    width: 442px;
    font: 700 36px/36px Montserrat, -apple-system, Roboto, Helvetica, sans-serif;
  }
  
  @media (max-width: 991px) {
    .title {
      max-width: 100%;
      margin-top: 40px;
    }
  }
  
  .loginButton {
    border-radius: 32px;
    background-color: #02a1f9;
    margin-top: 43px;
    width: 409px;
    max-width: 100%;
    color: #fff;
    white-space: nowrap;
    padding: 13px 70px;
    font: 22px Poppins, sans-serif;
    border: none;
    cursor: pointer;
  }
  
  @media (max-width: 991px) {
    .loginButton {
      margin-top: 40px;
      white-space: initial;
      padding: 13px 20px;
    }
  }
  
  .signupPrompt {
    color: #8692a6;
    text-align: right;
    margin-top: 72px;
    font: 19px/2 Inter, sans-serif;
  }
  
  @media (max-width: 991px) {
    .signupPrompt {
      margin-top: 40px;
    }
  }
  
  .signupLink {
    font-weight: 500;
    color: #00d27a;
    text-decoration: none;
  }
  
  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
  }