.loginContainer {
    background-color: #fff;
    display: flex;
    max-width: 544px;
    flex-direction: column;
    overflow: hidden;
    align-items: center;
    padding: 140px 0px 28px;
    justify-content: center;
    margin: 0 auto;
    padding-left: 20px;
    margin-top: 30px;
  }
  
  @media (max-width: 991px) {
    .loginContainer {
      padding: 0 20px;
    }
  }
  
  .inputLabel {
    color: #696f79;
    margin-left: 12px;
    font: 500 20px Inter, sans-serif;
  }
  
  @media (max-width: 991px) {
    .inputLabel {
      margin-left: 10px;
    }
  }
  
  .inputWrapper {
    align-self: center;
    display: flex;
    margin-top: 17px;
    min-height: 54px;
    width: 100%;
    flex-direction: column;
    color: rgba(18, 18, 18, 0.38);
    white-space: nowrap;
    letter-spacing: 0.4px;
    justify-content: flex-start;
    font: 400 14px Poppins, sans-serif;
  }
  
  @media (max-width: 991px) {
    .inputWrapper {
      max-width: 100%;
      white-space: initial;
    }
  }
  
  .inputField {
    border-radius: 8px;
    background-color: #fff;
    display: flex;
    width: 100%;
    align-items: center;
    gap: 8px;
    overflow: hidden;
    justify-content: flex-start;
    flex: 1;
    height: 100%;
    padding: 8px 8px 8px 16px;
    border: 1px solid white;
    width:100%;
  }
  
  @media (max-width: 991px) {
    .inputField {
      max-width: 100%;
      white-space: initial;
    }
  }
  
  .inputIcon {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 20px;
    align-self: stretch;
    margin: auto 0;
  }
  
  .inputPlaceholder {
    align-self: stretch;
    margin: auto 0;
  }
  
  .rememberForgotWrapper {
    display: flex;
    margin-top: 52px;
    width: 100%;
    gap: 200px;
    justify-content: center;

  }
  
  @media (max-width: 991px) {
    .rememberForgotWrapper {
      max-width: 100%;
      margin-top: 40px;
      flex-wrap: wrap;
      gap:0px;
    }
  }
  
  .rememberMeWrapper {
    display: flex;
    gap: 0px;
    margin: auto 0;
    margin-bottom: 20px;
  }
  
  .radioWrapper {
    display: flex;
    height: 23px;
    flex-direction: column;
    overflow: hidden;
    justify-content: center;
  }
  
 
  
  .rememberMeText {
    color: #696f79;
    flex-basis: auto;
    margin: auto 0;
    font: 500 16px Inter, sans-serif;
    margin-left: 32px;
  }
  
  .forgotPassword {
    color: #8692a6;
    text-align: center;
    font: 400 15px/28px Inter, -apple-system, Roboto, Helvetica, sans-serif;
  }
  
  .loginButton {
    border-radius: 30px;
    background-color: #02a1f9;
    align-self: stretch;
    margin-top: 29px;
    color: #fff;
    white-space: nowrap;
    text-align: center;
    padding: 25px 70px;
    font: 700 16px Inter, sans-serif;
  }
  
  @media (max-width: 991px) {
    .loginButton {
      max-width: 100%;
      white-space: initial;
      padding: 0 20px;
    }
  }
  
  .signUpPrompt {
    color: #8692a6;
    text-align: right;
    align-self: center;
    margin: 80px 0 0 17px;
    font: 400 18px/2 Inter, sans-serif;
  }
  
  @media (max-width: 991px) {
    .signUpPrompt {
      margin-top: 40px;
    }
  }
  
  .signUpLink {
    font-weight: 500;
    color: #00d27a;
  }
  
  /* .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
  } */

  .remember{
    width: 22px;
    height: 22px;
    margin-left: -280px;
  }