.dropdownField {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }
  
  .dropdownLabel {
    color: #000;
    font: 400 16px Poppins, sans-serif;
  }
  
  .selectWrapper {
    position: relative;
  }
  
  .selectInput {
    appearance: none;
    border-radius: 8px;
    border: 1px solid #bdbdbd;
    background-color: #fff;
    padding: 12px;
    width: 100%;
    font: 400 14px/22px Helvetica Neue, -apple-system, Roboto, Helvetica, sans-serif;
    color: #c4c4c4;
  }
  
  .dropdownIcon {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    width: 24px;
    height: 24px;
    pointer-events: none;
  }