.eventsSection {
    padding: 80px 40px;
  }
  
  .sectionTitle {
    color: #28f19d;
    letter-spacing: 2.91px;
    font: 500 19px Poppins, sans-serif;
    margin-bottom: 30px;
  }
  
  .subtitle {
    color: #2b2b2b;
    font: 600 40px/1 Poppins, sans-serif;
    margin-bottom: 50px;
  }
  
  .eventGrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }
  
  .eventCard {
    display: flex;
    flex-direction: column;
    position: relative;
  }
  
  .eventImage {
    width: 100%;
    aspect-ratio: 1;
    object-fit: cover;
    border-radius: 30px;
  }
  
  .popularTag {
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: rgba(209, 255, 236, 1);
    color: #00c874;
    padding: 10px 24px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 500;
  }
  
  .popularIcon {
    width: 20px;
    height: 23px;
  }
  
  .eventTitle {
    font: 600 28px Poppins, sans-serif;
    margin-top: 32px;
  }
  
  .eventDate {
    font: 500 19px Poppins, sans-serif;
    margin-top: 20px;
  }
  .eventLocation {
    color: #808080;
    font: 400 16px/2 Poppins, sans-serif;
    margin-top: 20px;
  }
  
  .viewDetails {
    font-style: italic;
    text-decoration: underline;
    margin-top: 25px;
    color: #2b2b2b;
  }
  
  @media (max-width: 991px) {
    .eventsSection {
      padding: 40px 20px;
    }
  
    .eventGrid {
      grid-template-columns: repeat(2, 1fr);
    }
  }