.pendingOrganizationDetailsAdmin {
  background-color: rgba(255, 255, 255, 1);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 46px 79px 75px;
}
@media (max-width: 991px) {
  .pendingOrganizationDetailsAdmin {
    padding: 0 20px;
  }
}
.div {
  align-self: end;
  display: flex;
  width: 100%;
  max-width: 1237px;
  gap: 20px;
  color: var(--Text-Colour-2, #2b2b2b);
  flex-wrap: wrap;
  justify-content: space-between;
  font: 500 16px Poppins, sans-serif;
}
@media (max-width: 991px) {
  .div {
    max-width: 100%;
  }
}
.img {
  aspect-ratio: 6.71;
  object-fit: contain;
  object-position: center;
  width: 228px;
  align-self: start;
  max-width: 100%;
}
.div2 {
  display: flex;
  height: 37px;
  align-items: start;
  justify-content: start;
  flex-wrap: wrap;
}
@media (max-width: 991px) {
  .div2 {
    max-width: 100%;
  }
}
.pendingRequests {
  border-radius: 30px;
  background-color: rgba(40, 241, 157, 0.38);
  min-height: 36px;
  gap: 10px;
  overflow: hidden;
  width: 176px;
  padding: 13px 15px 13px 16px;
}
.createEvent {
  height: var(--15, 15px);
  width: 145px;
  border-radius: 5px;
  background-color: rgba(33, 118, 255, 0);
  gap: 10px;
  overflow: hidden;
  text-align: right;
  padding: 13px 10px 13px 16px;
}
.organizations {
  height: var(--15, 15px);
  width: 145px;
  border-radius: 30px;
  background-color: rgba(40, 241, 157, 0);
  gap: 10px;
  overflow: hidden;
  white-space: nowrap;
  text-align: right;
  padding: 13px 10px 13px 16px;
}
@media (max-width: 991px) {
  .organizations {
    white-space: initial;
  }
}
.opportunities {
  height: var(--15, 15px);
  width: 145px;
  border-radius: 30px;
  background-color: rgba(40, 241, 157, 0);
  gap: 10px;
  overflow: hidden;
  white-space: nowrap;
  text-align: right;
  padding: 13px 10px 13px 16px;
}
@media (max-width: 991px) {
  .opportunities {
    white-space: initial;
  }
}
.signOut {
  width: 97px;
  padding: 13px 10px;
}
@media (max-width: 991px) {
  .signOut {
    padding-right: 20px;
  }
}
.img2 {
  aspect-ratio: 1.03;
  object-fit: contain;
  object-position: center;
  width: 37px;
}
.div3 {
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
  display: flex;
  margin-top: 40px;
  width: 100%;
  flex-direction: column;
  align-items: start;
  padding: 74px 52px;
}
@media (max-width: 991px) {
  .div3 {
    max-width: 100%;
    padding: 0 20px;
  }
}
.pendingOrganizationDetails {
  text-align: center;
  font: 600 44px Poppins, sans-serif;
}
@media (max-width: 991px) {
  .pendingOrganizationDetails {
    max-width: 100%;
  }
}
.div4 {
  display: flex;
  margin-top: 79px;
  width: 599px;
  max-width: 100%;
  gap: 20px;
  font-family: Poppins, sans-serif;
  color: rgba(0, 0, 0, 1);
  flex-wrap: wrap;
  justify-content: space-between;
}
@media (max-width: 991px) {
  .div4 {
    margin-top: 40px;
  }
}
.organizationImage {
  font-size: 24px;
  font-weight: 500;
  text-align: center;
  margin: auto 0;
}
.overview {
  font-size: 25px;
  font-weight: 600;
}
.div5 {
  margin-top: 9px;
  width: 100%;
  max-width: 1121px;
}
@media (max-width: 991px) {
  .div5 {
    max-width: 100%;
  }
}
.div6 {
  gap: 20px;
  display: flex;
}
@media (max-width: 991px) {
  .div6 {
    flex-direction: column;
    align-items: stretch;
    gap: 0px;
  }
}
.column {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 40%;
  margin-left: 0px;
}
@media (max-width: 991px) {
  .column {
    width: 100%;
  }
}
.img3 {
  aspect-ratio: 1.16;
  object-fit: contain;
  object-position: center;
  width: 100%;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  flex-grow: 1;
}
@media (max-width: 991px) {
  .img3 {
    max-width: 100%;
    margin-top: 40px;
  }
}
.column2 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 60%;
  margin-left: 20px;
}
@media (max-width: 991px) {
  .column2 {
    width: 100%;
  }
}
.rectangle1 {
  border-radius: 8px;
  flex-grow: 1;
  color: rgba(0, 0, 0, 1);
  padding: 24px 19px 328px;
  font: 400 18px Poppins, sans-serif;
  border: 1px solid rgba(0, 0, 0, 0.5);
}
@media (max-width: 991px) {
  .rectangle1 {
    max-width: 100%;
    margin-top: 40px;
    padding: 0 20px 100px 0;
  }
}
.div7 {
  margin-top: 38px;
  width: 100%;
  max-width: 1098px;
}
@media (max-width: 991px) {
  .div7 {
    max-width: 100%;
  }
}
.div8 {
  gap: 20px;
  display: flex;
}
@media (max-width: 991px) {
  .div8 {
    flex-direction: column;
    align-items: stretch;
    gap: 0px;
  }
}
.column3 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 33%;
  margin-left: 0px;
}
@media (max-width: 991px) {
  .column3 {
    width: 100%;
  }
}
.div9 {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: start;
  font-family: Poppins, sans-serif;
  color: rgba(0, 0, 0, 1);
  font-weight: 400;
}
@media (max-width: 991px) {
  .div9 {
    margin-top: 40px;
  }
}
.organizationInformation {
  font-size: 25px;
  font-weight: 600;
  align-self: stretch;
}
.organizationName {
  font-size: 16px;
  margin-top: 22px;
}
.rectangle12 {
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 1);
  margin-top: 6px;
  width: 275px;
  max-width: 100%;
  font-size: 13px;
  padding: 18px 17px;
  border: 1px solid rgba(0, 0, 0, 0.5);
}
@media (max-width: 991px) {
  .rectangle12 {
    padding-right: 20px;
  }
}
.organizationLocation {
  font-size: 16px;
  margin-top: 25px;
}
.rectangle13 {
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 1);
  margin-top: 13px;
  width: 275px;
  max-width: 100%;
  font-size: 12px;
  white-space: nowrap;
  padding: 13px 17px 22px;
  border: 1px solid rgba(0, 0, 0, 0.5);
}
@media (max-width: 991px) {
  .rectangle13 {
    padding-right: 20px;
    white-space: initial;
  }
}
.column4 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 33%;
  margin-left: 20px;
}
@media (max-width: 991px) {
  .column4 {
    width: 100%;
  }
}