.container{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  max-width: 1400px;
margin: 0 auto;
margin-top: 50px;
align-items: center;
margin-bottom: 100px;


}

.content{
  background: linear-gradient(rgba(86, 199, 216, 0.5),rgba(56, 246, 164, 0.5));
}

@media (max-width: 991px) {
  .container{
    max-width: 800px;
    padding-bottom: 50px;
    padding-top: 20px;
  }
}
