.box {
    height: 36px;
    position: relative;
    width: 1336px;
  }
  
  .box .navbar {
    height: 36px;
    left: 0;
    position: fixed;
    top: 0;
    width: 1346px;
  }
  
  .box .full-logo-gradinat {
    height: 34px;
    left: 0;
    position: absolute;
    top: 0;
    width: 228px;
  }
  
  .box .text-wrapper {
    color: #2b2b2b;
    font-family: "Poppins-Medium", Helvetica;
    font-size: 16px;
    font-weight: 500;
    left: 607px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 13px;
    white-space: nowrap;
  }
  
  .box .div {
    color: #2b2b2b;
    font-family: "Poppins-Medium", Helvetica;
    font-size: 16px;
    font-weight: 500;
    left: 783px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: right;
    top: 13px;
    white-space: nowrap;
    width: 119px;
  }
  
  .box .text-wrapper-2 {
    color: #2b2b2b;
    font-family: "Poppins-Medium", Helvetica;
    font-size: 16px;
    font-weight: 500;
    left: 928px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: right;
    top: 13px;
    white-space: nowrap;
    width: 119px;
  }
  
  .box .text-wrapper-3 {
    color: #2b2b2b;
    font-family: "Poppins-Medium", Helvetica;
    font-size: 16px;
    font-weight: 500;
    left: 1073px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: right;
    top: 13px;
    white-space: nowrap;
    width: 119px;
  }
  
  .box .text-wrapper-4 {
    color: #2b2b2b;
    font-family: "Poppins-Medium", Helvetica;
    font-size: 16px;
    font-weight: 500;
    left: 1212px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 13px;
    white-space: nowrap;
  }
  
  .box .overlap-group {
    height: 38px;
    left: 1298px;
    position: absolute;
    top: -1px;
    width: 39px;
  }
  
  .box .vector {
    height: 11px;
    left: 9px;
    position: absolute;
    top: 18px;
    width: 20px;
  }
  
  .box .img {
    height: 12px;
    left: 13px;
    position: absolute;
    top: 7px;
    width: 13px;
  }
  
  .box .vector-2 {
    height: 38px;
    left: 0;
    position: absolute;
    top: 0;
    width: 39px;
  }
  