.footer {
    background-color: #0b090a;
    color: #aaa;
    padding: 20px 70px;
    font: 400 16px/2 Poppins, sans-serif;
  }
  
  .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1117px;
    margin: 0 auto;
  }
  
  .copyright {
    margin: 0;
  }
  
  .footerNav {
    display: flex;
    gap: 40px;
  }
  
  .footerLink {
    color: #aaa;
    text-decoration: none;
  }
  
  .footerLink:hover {
    text-decoration: underline;
  }
  
  @media (max-width: 991px) {
    .footer {
      padding: 20px;
    }
  
    .content {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .footerNav {
      margin-top: 20px;
      gap: 20px;
    }
  }