.chancely-homepage {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .chancely-homepage .div {
    background-color: #ffffff;
    height: 3576px;
    overflow: hidden;
    position: relative;
    width: 1446px;
  }
  
  .chancely-homepage .companies {
    height: 124px;
    left: 231px;
    position: absolute;
    top: 1038px;
    width: 979px;
  }
  
  .chancely-homepage .MCIT-logo-c {
    height: 59px;
    left: 756px;
    object-fit: cover;
    position: absolute;
    top: 50px;
    width: 221px;
  }
  
  .chancely-homepage .shell-logo {
    height: 58px;
    left: 595px;
    object-fit: cover;
    position: absolute;
    top: 45px;
    width: 67px;
  }
  
  .chancely-homepage .web-summit-logo-svg {
    height: 61px;
    left: 207px;
    object-fit: cover;
    position: absolute;
    top: 49px;
    width: 102px;
  }
  
  .chancely-homepage .saudi-aramco-logo {
    height: 83px;
    left: 0;
    position: absolute;
    top: 41px;
    width: 141px;
  }
  
  .chancely-homepage .text-wrapper {
    color: var(--text-colour-3);
    font-family: var(--h5-buttons-font-family);
    font-size: var(--h5-buttons-font-size);
    font-style: var(--h5-buttons-font-style);
    font-weight: var(--h5-buttons-font-weight);
    left: 280px;
    letter-spacing: var(--h5-buttons-letter-spacing);
    line-height: var(--h5-buttons-line-height);
    position: absolute;
    text-align: center;
    top: 0;
    white-space: nowrap;
  }
  
  .chancely-homepage .badges-wek-wis {
    height: 58px;
    left: 424px;
    object-fit: cover;
    position: absolute;
    top: 53px;
    width: 55px;
  }
  
  .chancely-homepage .hook {
    height: 902px;
    left: 1px;
    position: absolute;
    top: 136px;
    width: 1446px;
  }
  
  .chancely-homepage .overlap {
    background-image: url(https://c.animaapp.com/4jCUSUqz/img/rectangle-4.svg);
    background-size: 100% 100%;
    height: 902px;
    position: relative;
    width: 1440px;
  }
  
  .chancely-homepage .sign-up {
    height: 71px;
    left: 527px;
    position: absolute;
    top: 596px;
    width: 385px;
  }
  
  .chancely-homepage .overlap-group {
    background-image: url(https://c.animaapp.com/4jCUSUqz/img/rectangle-17.svg);
    background-size: 100% 100%;
    height: 131px;
    left: -26px;
    position: relative;
    top: -20px;
    width: 443px;
  }
  
  .chancely-homepage .text-wrapper-2 {
    color: #ffffff;
    font-family: "Poppins", Helvetica;
    font-size: 24px;
    font-weight: 600;
    left: 137px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 48px;
    white-space: nowrap;
    width: 162px;
  }
  
  .chancely-homepage .text-wrapper-3 {
    color: #02a1f9;
    font-family: "Poppins", Helvetica;
    font-size: 19.4px;
    font-weight: 500;
    left: 599px;
    letter-spacing: 2.91px;
    line-height: normal;
    position: absolute;
    top: 188px;
    width: 239px;
  }
  
  .chancely-homepage .explore-events-that {
    height: 190px;
    left: 332px;
    position: absolute;
    top: 243px;
    width: 777px;
  }
  
  .chancely-homepage .p {
    color: var(--text-colour-3);
    font-family: var(--paragraph-regular-font-family);
    font-size: var(--paragraph-regular-font-size);
    font-style: var(--paragraph-regular-font-style);
    font-weight: var(--paragraph-regular-font-weight);
    left: 395px;
    letter-spacing: var(--paragraph-regular-letter-spacing);
    line-height: var(--paragraph-regular-line-height);
    position: absolute;
    top: 478px;
    white-space: nowrap;
    width: 648px;
  }
  
  .chancely-homepage .opportunities {
    height: 499px;
    left: 161px;
    overflow: hidden;
    overflow-x: scroll;
    position: absolute;
    top: 2082px;
    width: 1560px;
  }
  
  .chancely-homepage .web-summit-qatar {
    height: 492px;
    left: 0;
    position: absolute;
    top: 0;
    width: 340px;
  }
  
  .chancely-homepage .overlap-group-2 {
    height: 492px;
    position: relative;
    width: 346px;
  }
  
  .chancely-homepage .group {
    height: 492px;
    left: 0;
    position: absolute;
    top: 0;
    width: 346px;
  }
  
  .chancely-homepage .text-wrapper-4 {
    color: var(--text-colour-2);
    font-family: var(--h3-semibold-font-family);
    font-size: var(--h3-semibold-font-size);
    font-style: var(--h3-semibold-font-style);
    font-weight: var(--h3-semibold-font-weight);
    left: 0;
    letter-spacing: var(--h3-semibold-letter-spacing);
    line-height: var(--h3-semibold-line-height);
    position: absolute;
    top: 372px;
    white-space: nowrap;
  }
  
  .chancely-homepage .text-wrapper-5 {
    color: var(--text-colour-2);
    font-family: var(--h4-semibold-font-family);
    font-size: var(--h4-semibold-font-size);
    font-style: var(--h4-semibold-font-style);
    font-weight: var(--h4-semibold-font-weight);
    left: 0;
    letter-spacing: var(--h4-semibold-letter-spacing);
    line-height: var(--h4-semibold-line-height);
    position: absolute;
    top: 411px;
    white-space: nowrap;
  }
  
  .chancely-homepage .text-wrapper-6 {
    color: var(--text-colour-3);
    font-family: var(--paragraph-regular-font-family);
    font-size: var(--paragraph-regular-font-size);
    font-style: var(--paragraph-regular-font-style);
    font-weight: var(--paragraph-regular-font-weight);
    left: 0;
    letter-spacing: var(--paragraph-regular-letter-spacing);
    line-height: var(--paragraph-regular-line-height);
    position: absolute;
    top: 445px;
    white-space: nowrap;
  }
  
  .chancely-homepage .div-wrapper {
    height: 11px;
    left: 0;
    position: absolute;
    top: 481px;
    width: 137px;
  }
  
  .chancely-homepage .text-wrapper-7 {
    color: var(--text-colour-2);
    font-family: "Poppins", Helvetica;
    font-size: 16px;
    font-style: italic;
    font-weight: 500;
    left: 0;
    letter-spacing: 0;
    line-height: 26px;
    position: absolute;
    text-decoration: underline;
    top: 0;
    white-space: nowrap;
    width: 135px;
  }
  
  .chancely-homepage .img {
    height: 340px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 340px;
  }
  
  .chancely-homepage .popular {
    align-items: center;
    background-color: #d0ffeb;
    border-radius: 20px;
    display: inline-flex;
    gap: 10px;
    left: 30px;
    padding: 10px 24px;
    position: absolute;
    top: 268px;
  }
  
  .chancely-homepage .icon-fire {
    height: 22.51px;
    position: relative;
    width: 20px;
  }
  
  .chancely-homepage .text-wrapper-8 {
    color: #00c774;
    font-family: var(--h5-buttons-font-family);
    font-size: var(--h5-buttons-font-size);
    font-style: var(--h5-buttons-font-style);
    font-weight: var(--h5-buttons-font-weight);
    letter-spacing: var(--h5-buttons-letter-spacing);
    line-height: var(--h5-buttons-line-height);
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  .chancely-homepage .leap {
    height: 492px;
    left: 390px;
    position: absolute;
    top: 0;
    width: 340px;
  }
  
  .chancely-homepage .group-2 {
    height: 120px;
    left: 0;
    position: absolute;
    top: 372px;
    width: 197px;
  }
  
  .chancely-homepage .text-wrapper-9 {
    color: var(--text-colour-2);
    font-family: var(--h3-semibold-font-family);
    font-size: var(--h3-semibold-font-size);
    font-style: var(--h3-semibold-font-style);
    font-weight: var(--h3-semibold-font-weight);
    left: 0;
    letter-spacing: var(--h3-semibold-letter-spacing);
    line-height: var(--h3-semibold-line-height);
    position: absolute;
    top: 0;
    white-space: nowrap;
  }
  
  .chancely-homepage .text-wrapper-10 {
    color: var(--text-colour-2);
    font-family: var(--h4-semibold-font-family);
    font-size: var(--h4-semibold-font-size);
    font-style: var(--h4-semibold-font-style);
    font-weight: var(--h4-semibold-font-weight);
    left: 0;
    letter-spacing: var(--h4-semibold-letter-spacing);
    line-height: var(--h4-semibold-line-height);
    position: absolute;
    top: 39px;
    white-space: nowrap;
  }
  
  .chancely-homepage .text-wrapper-11 {
    color: var(--text-colour-3);
    font-family: var(--paragraph-regular-font-family);
    font-size: var(--paragraph-regular-font-size);
    font-style: var(--paragraph-regular-font-style);
    font-weight: var(--paragraph-regular-font-weight);
    left: 0;
    letter-spacing: var(--paragraph-regular-letter-spacing);
    line-height: var(--paragraph-regular-line-height);
    position: absolute;
    top: 73px;
    white-space: nowrap;
  }
  
  .chancely-homepage .group-3 {
    height: 11px;
    left: 0;
    position: absolute;
    top: 109px;
    width: 137px;
  }
  
  .chancely-homepage .img-2 {
    height: 340px;
    left: 0;
    position: absolute;
    top: 0;
    width: 340px;
  }
  
  .chancely-homepage .summer-middle-east {
    height: 492px;
    left: 780px;
    position: absolute;
    top: 0;
    width: 342px;
  }
  
  .chancely-homepage .group-4 {
    height: 84px;
    left: 0;
    position: absolute;
    top: 372px;
    width: 278px;
  }
  
  .chancely-homepage .text-wrapper-12 {
    color: var(--text-colour-2);
    font-family: "Poppins", Helvetica;
    font-size: 27px;
    font-weight: 600;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
    white-space: nowrap;
  }
  
  .chancely-homepage .text-wrapper-13 {
    color: var(--text-colour-2);
    font-family: "Poppins", Helvetica;
    font-size: 16px;
    font-style: italic;
    font-weight: 500;
    left: 0;
    letter-spacing: 0;
    line-height: 26px;
    position: absolute;
    text-decoration: underline;
    top: 481px;
    white-space: nowrap;
    width: 135px;
  }
  
  .chancely-homepage .AUD {
    height: 493px;
    left: 1155px;
    position: absolute;
    top: -1px;
    width: 364px;
  }
  
  .chancely-homepage .group-5 {
    height: 84px;
    left: 15px;
    position: absolute;
    top: 372px;
    width: 353px;
  }
  
  .chancely-homepage .text-wrapper-14 {
    color: var(--text-colour-2);
    font-family: "Poppins", Helvetica;
    font-size: 16px;
    font-style: italic;
    font-weight: 500;
    left: 15px;
    letter-spacing: 0;
    line-height: 26px;
    position: absolute;
    text-decoration: underline;
    top: 482px;
    white-space: nowrap;
    width: 135px;
  }
  
  .chancely-homepage .AUD-2 {
    height: 493px;
    left: 1560px;
    position: absolute;
    top: -1px;
    width: 364px;
  }
  
  .chancely-homepage .text-wrapper-15 {
    color: var(--text-colour-2);
    font-family: var(--h2-semi-bold-font-family);
    font-size: var(--h2-semi-bold-font-size);
    font-style: var(--h2-semi-bold-font-style);
    font-weight: var(--h2-semi-bold-font-weight);
    left: 161px;
    letter-spacing: var(--h2-semi-bold-letter-spacing);
    line-height: var(--h2-semi-bold-line-height);
    position: absolute;
    top: 2003px;
    white-space: nowrap;
  }
  
  .chancely-homepage .text-wrapper-16 {
    color: #28f19d;
    font-family: "Poppins", Helvetica;
    font-size: 19.4px;
    font-weight: 500;
    left: 161px;
    letter-spacing: 2.91px;
    line-height: normal;
    position: absolute;
    top: 1959px;
    white-space: nowrap;
  }
  
  .chancely-homepage .overlap-2 {
    background: linear-gradient(
      180deg,
      rgb(40, 241, 157) 0%,
      rgb(2, 161, 249) 100%
    );
    height: 420px;
    left: 0;
    position: absolute;
    top: 3106px;
    width: 1440px;
  }
  
  .chancely-homepage .group-6 {
    height: 18px;
    left: 376px;
    position: absolute;
    top: 345px;
    width: 284px;
  }
  
  .chancely-homepage .text-wrapper-17 {
    color: var(--text-colour-2);
    font-family: "Poppins", Helvetica;
    font-size: 20.1px;
    font-weight: 500;
    left: 38px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 1px;
    white-space: nowrap;
  }
  
  .chancely-homepage .icon-mail {
    height: 20px;
    left: -1px;
    position: absolute;
    top: -1px;
    width: 27px;
  }
  
  .chancely-homepage .group-7 {
    height: 25px;
    left: 376px;
    position: absolute;
    top: 283px;
    width: 202px;
  }
  
  .chancely-homepage .text-wrapper-18 {
    color: var(--text-colour-2);
    font-family: "Poppins", Helvetica;
    font-size: 20.1px;
    font-weight: 500;
    left: 35px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 6px;
    white-space: nowrap;
  }
  
  .chancely-homepage .icon-phone {
    height: 25px;
    left: 0;
    position: absolute;
    top: 0;
    width: 25px;
  }
  
  .chancely-homepage .KFUPM-dhahran-saudi {
    color: var(--text-colour-2);
    font-family: "Poppins", Helvetica;
    font-size: 20.1px;
    font-weight: 500;
    left: 370px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 208px;
  }
  
  .chancely-homepage .have-anything-to-say {
    color: var(--text-colour-1);
    font-family: "Poppins", Helvetica;
    font-size: 23px;
    font-weight: 500;
    left: 762px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 99px;
    width: 301px;
  }
  
  .chancely-homepage .group-8 {
    height: 78px;
    left: 762px;
    position: absolute;
    top: 285px;
    width: 144px;
  }
  
  .chancely-homepage .text-wrapper-19 {
    color: var(--text-colour-1);
    font-family: "Poppins", Helvetica;
    font-size: 23px;
    font-weight: 500;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
    white-space: nowrap;
  }
  
  .chancely-homepage .group-9 {
    height: 26px;
    left: 6px;
    position: absolute;
    top: 52px;
    width: 114px;
  }
  
  .chancely-homepage .overlap-wrapper {
    height: 71px;
    left: 768px;
    position: absolute;
    top: 176px;
    width: 417px;
  }
  
  .chancely-homepage .overlap-3 {
    background-color: #ffffff;
    border-radius: 35.54px;
    box-shadow: 4.74px 11.85px 23.69px #0000000d;
    height: 71px;
    position: relative;
    width: 415px;
  }
  
  .chancely-homepage .arrow-wrapper {
    background-color: #02a1f9;
    border-radius: 29.62px;
    height: 59px;
    left: 349px;
    position: absolute;
    top: 6px;
    width: 59px;
  }
  
  .chancely-homepage .arrow {
    height: 17px;
    left: 14px;
    position: absolute;
    top: 21px;
    width: 20px;
  }
  
  .chancely-homepage .write-youe-thoughts {
    color: var(--text-colour-4);
    font-family: "Poppins", Helvetica;
    font-size: 19px;
    font-weight: 400;
    left: 24px;
    letter-spacing: 0;
    line-height: 30.8px;
    position: absolute;
    top: 28px;
    white-space: nowrap;
  }
  
  .chancely-homepage .logofull {
    height: 164px;
    left: 310px;
    object-fit: cover;
    position: absolute;
    top: 34px;
    width: 349px;
  }
  
  .chancely-homepage .overlap-4 {
    background-color: var(--text-colour-1);
    height: 50px;
    left: 0;
    position: absolute;
    top: 3526px;
    width: 1440px;
  }
  
  .chancely-homepage .text-wrapper-20 {
    color: var(--text-colour-4);
    font-family: var(--paragraph-regular-font-family);
    font-size: var(--paragraph-regular-font-size);
    font-style: var(--paragraph-regular-font-style);
    font-weight: var(--paragraph-regular-font-weight);
    left: 163px;
    letter-spacing: var(--paragraph-regular-letter-spacing);
    line-height: var(--paragraph-regular-line-height);
    position: absolute;
    top: 18px;
    white-space: nowrap;
  }
  
  .chancely-homepage .frame-2 {
    align-items: flex-start;
    display: inline-flex;
    gap: 40px;
    left: 830px;
    position: absolute;
    top: 19px;
  }
  
  .chancely-homepage .text-wrapper-21 {
    color: var(--text-colour-4);
    font-family: var(--paragraph-regular-font-family);
    font-size: var(--paragraph-regular-font-size);
    font-style: var(--paragraph-regular-font-style);
    font-weight: var(--paragraph-regular-font-weight);
    letter-spacing: var(--paragraph-regular-letter-spacing);
    line-height: var(--paragraph-regular-line-height);
    margin-top: -1.00px;
    position: relative;
    text-align: right;
    white-space: nowrap;
    width: fit-content;
  }
  
  .chancely-homepage .top-bar {
    background-color: var(--white);
    height: 80px;
    left: 0;
    position: absolute;
    top: 40px;
    width: 1440px;
  }
  
  .chancely-homepage .frame-3 {
    align-items: flex-start;
    display: flex;
    height: 37px;
    left: 794px;
    position: absolute;
    top: 22px;
    width: 637px;
  }
  
  .chancely-homepage .frame-4 {
    align-items: flex-start;
    background-color: #28f19d61;
    border-radius: 30px;
    display: flex;
    gap: 10px;
    overflow: hidden;
    padding: 13px 16px;
    position: relative;
    width: 80px;
  }
  
  .chancely-homepage .text-wrapper-22 {
    color: var(--text-colour-2);
    font-family: var(--h5-buttons-font-family);
    font-size: var(--h5-buttons-font-size);
    font-style: var(--h5-buttons-font-style);
    font-weight: var(--h5-buttons-font-weight);
    letter-spacing: var(--h5-buttons-letter-spacing);
    line-height: var(--h5-buttons-line-height);
    margin-top: -1.00px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  .chancely-homepage .frame-5 {
    align-items: flex-start;
    border-radius: 5px;
    display: flex;
    gap: 10px;
    margin-bottom: -4.00px;
    overflow: hidden;
    padding: 13px 16px;
    position: relative;
    width: 219px;
  }
  
  .chancely-homepage .text-wrapper-23 {
    color: var(--text-colour-2);
    font-family: var(--h5-buttons-font-family);
    font-size: var(--h5-buttons-font-size);
    font-style: var(--h5-buttons-font-style);
    font-weight: var(--h5-buttons-font-weight);
    height: 15px;
    letter-spacing: var(--h5-buttons-letter-spacing);
    line-height: var(--h5-buttons-line-height);
    margin-top: -1.00px;
    position: relative;
    text-align: right;
    white-space: nowrap;
    width: 187px;
  }
  
  .chancely-homepage .frame-6 {
    align-items: flex-start;
    border-radius: 5px;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 10px;
    overflow: hidden;
    padding: 13px 16px;
    position: relative;
  }
  
  .chancely-homepage .frame-7 {
    height: 36px;
    position: relative;
    width: 187px;
  }
  
  .chancely-homepage .text-wrapper-24 {
    color: var(--text-colour-2);
    font-family: var(--h5-buttons-font-family);
    font-size: var(--h5-buttons-font-size);
    font-style: var(--h5-buttons-font-style);
    font-weight: var(--h5-buttons-font-weight);
    left: 40px;
    letter-spacing: var(--h5-buttons-letter-spacing);
    line-height: var(--h5-buttons-line-height);
    position: absolute;
    top: 12px;
    white-space: nowrap;
  }
  
  .chancely-homepage .icon-user-circle-alt {
    height: 20px;
    left: 14px;
    position: absolute;
    top: 8px;
    width: 20px;
  }
  
  .chancely-homepage .full-logo-gradinat {
    height: 34px;
    left: 103px;
    position: absolute;
    top: 27px;
    width: 228px;
  }
  
  .chancely-homepage .register-as-org {
    height: 191px;
    left: 121px;
    position: absolute;
    top: 2735px;
    width: 1248px;
  }
  
  .chancely-homepage .overlap-5 {
    height: 191px;
    position: relative;
  }
  
  .chancely-homepage .rectangle {
    background: linear-gradient(
      180deg,
      rgb(194.72, 233.52, 255) 0%,
      rgb(240.25, 249.74, 255) 100%
    );
    border-radius: 40px;
    height: 131px;
    left: 0;
    position: absolute;
    top: 60px;
    width: 1202px;
  }
  
  .chancely-homepage .group-10 {
    height: 54px;
    left: 39px;
    position: absolute;
    top: 98px;
    width: 571px;
  }
  
  .chancely-homepage .text-wrapper-25 {
    color: #00c774;
    font-family: var(--paragraph-regular-font-family);
    font-size: var(--paragraph-regular-font-size);
    font-style: var(--paragraph-regular-font-style);
    font-weight: var(--paragraph-regular-font-weight);
    left: 5px;
    letter-spacing: var(--paragraph-regular-letter-spacing);
    line-height: var(--paragraph-regular-line-height);
    position: absolute;
    top: 48px;
    white-space: nowrap;
    width: 346px;
  }
  
  .chancely-homepage .text-wrapper-26 {
    color: #00c774;
    font-family: var(--h2-semi-bold-font-family);
    font-size: var(--h2-semi-bold-font-size);
    font-style: var(--h2-semi-bold-font-style);
    font-weight: var(--h2-semi-bold-font-weight);
    left: 0;
    letter-spacing: var(--h2-semi-bold-letter-spacing);
    line-height: var(--h2-semi-bold-line-height);
    position: absolute;
    top: 0;
    white-space: nowrap;
    width: 567px;
  }
  
  .chancely-homepage .ellipse {
    background: linear-gradient(
      180deg,
      rgb(0, 199.69, 116.24) 32%,
      rgba(255, 255, 255, 0) 100%
    );
    border-radius: 50px;
    height: 100px;
    left: 1129px;
    opacity: 0.5;
    position: absolute;
    top: 18px;
    transform: rotate(30.00deg);
    width: 100px;
  }
  
  .chancely-homepage .frame-1 {
    border-color: #00c774 !important;
    left: 996px !important;
    position: absolute !important;
    top: 101px !important;
  }
  
  .chancely-homepage .frame-instance {
    color: #00c774 !important;
  }
  
  .chancely-homepage .overlap-6 {
    height: 440px;
    left: 160px;
    position: absolute;
    top: 1337px;
    width: 1168px;
  }
  
  .chancely-homepage .services {
    height: 253px;
    left: 21px;
    position: absolute;
    top: 187px;
    width: 1147px;
  }
  
  .chancely-homepage .competition {
    height: 196px;
    left: 306px;
    position: absolute;
    top: 10px;
    width: 192px;
  }
  
  .chancely-homepage .competitions-and-wrapper {
    height: 60px;
    left: 0;
    position: absolute;
    top: 136px;
    width: 194px;
  }
  
  .chancely-homepage .competitions-and {
    color: #00d17a;
    font-family: var(--h3-semibold-font-family);
    font-size: var(--h3-semibold-font-size);
    font-style: var(--h3-semibold-font-style);
    font-weight: var(--h3-semibold-font-weight);
    left: 0;
    letter-spacing: var(--h3-semibold-letter-spacing);
    line-height: var(--h3-semibold-line-height);
    position: absolute;
    text-align: center;
    top: 0;
  }
  
  .chancely-homepage .zondicons-trophy {
    height: 91px;
    left: 40px;
    position: absolute;
    top: 0;
    width: 111px;
  }
  
  .chancely-homepage .confrences {
    height: 243px;
    left: 0;
    position: absolute;
    top: 10px;
    width: 229px;
  }
  
  .chancely-homepage .solid-people {
    height: 113px;
    left: 44px;
    position: absolute;
    top: 0;
    width: 140px;
  }
  
  .chancely-homepage .conferences-and {
    color: #02a1f9;
    font-family: var(--h3-semibold-font-family);
    font-size: var(--h3-semibold-font-size);
    font-style: var(--h3-semibold-font-style);
    font-weight: var(--h3-semibold-font-weight);
    left: 0;
    letter-spacing: var(--h3-semibold-letter-spacing);
    line-height: var(--h3-semibold-line-height);
    position: absolute;
    text-align: center;
    top: 137px;
    width: 227px;
  }
  
  .chancely-homepage .scholarships {
    height: 204px;
    left: 577px;
    position: absolute;
    top: 3px;
    width: 227px;
  }
  
  .chancely-homepage .maki-college {
    height: 99px;
    left: 57px;
    position: absolute;
    top: 0;
    width: 119px;
  }
  
  .chancely-homepage .scholarships-and {
    color: #02a1f9;
    font-family: var(--h3-semibold-font-family);
    font-size: var(--h3-semibold-font-size);
    font-style: var(--h3-semibold-font-style);
    font-weight: var(--h3-semibold-font-weight);
    left: 0;
    letter-spacing: var(--h3-semibold-letter-spacing);
    line-height: var(--h3-semibold-line-height);
    position: absolute;
    text-align: center;
    top: 144px;
  }
  
  .chancely-homepage .summer-programs {
    height: 206px;
    left: 881px;
    position: absolute;
    top: 0;
    width: 268px;
  }
  
  .chancely-homepage .fluent-publish {
    height: 102px;
    left: 77px;
    position: absolute;
    top: 0;
    width: 111px;
  }
  
  .chancely-homepage .summer-programs-and {
    color: #00d17a;
    font-family: var(--h3-semibold-font-family);
    font-size: var(--h3-semibold-font-size);
    font-style: var(--h3-semibold-font-style);
    font-weight: var(--h3-semibold-font-weight);
    left: 0;
    letter-spacing: var(--h3-semibold-letter-spacing);
    line-height: var(--h3-semibold-line-height);
    position: absolute;
    text-align: center;
    top: 146px;
  }
  
  .chancely-homepage .what-we-offer {
    height: 194px;
    left: 0;
    position: absolute;
    top: 0;
    width: 724px;
  }
  
  .chancely-homepage .text-wrapper-27 {
    color: var(--text-colour-2);
    font-family: var(--h2-semi-bold-font-family);
    font-size: var(--h2-semi-bold-font-size);
    font-style: var(--h2-semi-bold-font-style);
    font-weight: var(--h2-semi-bold-font-weight);
    left: 0;
    letter-spacing: var(--h2-semi-bold-letter-spacing);
    line-height: var(--h2-semi-bold-line-height);
    position: absolute;
    top: 54px;
    width: 720px;
  }
  
  .chancely-homepage .text-wrapper-28 {
    color: #02a1f9;
    font-family: "Poppins", Helvetica;
    font-size: 19.4px;
    font-weight: 500;
    left: 1px;
    letter-spacing: 2.91px;
    line-height: normal;
    position: absolute;
    top: 0;
    width: 207px;
  }
  