.chancely-new {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    position: relative;
  }
  
  .chancely-new .div {
    background-color: #ffffff;
    height: 882px;
    width: 700px;
    overflow: hidden;
    position: relative;
  }
  
  .chancely-new .frame {
    background: linear-gradient(rgba(56, 246, 164, 0.5), rgba(163, 230, 240, 0.5)),
    url(https://c.animaapp.com/DvWBMqHZ/img/frame-1.png);
    background-position: 50% 50%;
    background-size: cover;
    height: 1024px;
    left: 0;
    position: absolute;
    top: 0;
    width:100%;
  }
  
  .chancely-new .logofull {
    height: 53px;
    left: 42px;
    position: absolute;
    top: 38px;
    width: 54px;
    
  }
  
  .chancely-new .text-wrapper {
    color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 140px; /* Increased font size */
  font-weight: 700;
  position: absolute; /* Makes the text layer above the image */
  top: 50%; /* Centers vertically */
  left: 50%; /* Centers horizontally */
  transform: translate(-50%, -50%); /* Corrects offset from centering */
  text-align: center;
  width: 100%; /* Ensures the text will fit within the container */
  white-space: nowrap; /* Prevents text from wrapping */
  }

  @media (max-width: 991px) {
    .chancely-new .div{
      width: 90%;
    }
   
  }
  