.navigation {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  
  .navItem {
    padding: 13px 16px;
    border-radius: 5px;
    text-decoration: none;
    color: #2b2b2b;
  }
  
  .active {
    background-color: rgba(40, 241, 157, 0.38);
    border-radius: 30px;
  }
  
  .loginButton {
    display: flex;
    align-items: center;
    gap: 7px;
    padding: 9px 15px;
    background: none;
    border: none;
    cursor: pointer;
    font: inherit;
    color: inherit;
  }
  
  .loginIcon {
    width: 18px;
    height: 18px;
  }